.idea
.vscode

.next
node_modules
coverage

e2e/output

renderer-server/.tracecov
renderer-server/.venv
renderer-server/.venv*/
renderer-server/test.cover
renderer-server/__pycache__
renderer-server/screenshot.png
venv
targets
out/
